/* PRE-SETS ///////////////*/
$primary-color: #85d014;
$secondary-color: #fc7701;
$background-color: #f8a771;
$text-normal: #fff;

/* * /////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;

  body {
    color: $text-normal;
    background-color: $background-color;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    font-family: 'Centra', sans-serif !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
      line-height: normal;
    }

    p,
    a,
    li,
    button,
    ul {
      margin: 0;
      padding: 0;
      line-height: normal;
      text-decoration: none;
      list-style-type: none;
      transition: 0.3s all;
      color: $text-normal;
    }

    a:hover {
      text-decoration: none;
      color: $primary-color;
    }

    button {
      border: 0;
      background-color: transparent;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    @media (min-width: 1700px) {
      main .container {
        max-width: 100%;
        padding: 0 150px;
      }
    }
  }
}

/*FONTS /////////////////////*/

@font-face {
  font-family: Centra;
  src: url('../src/assets/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('../src/assets/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('../src/assets/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}
